<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases> <!--경로를 people로 축약해서 사용할 수 있다.-->
        <typeAlias type="com.its.people.DTO.PeopleDTO" alias="people"></typeAlias>
    </typeAliases>
</configuration>